*.tsv
*.flac
*.tar.gz
*.WAV
*.wav
*.txt
!requirements.txt
/librispeech/tasks/preprocessing/.ipynb_checkpoints
/librispeech/tasks/preprocessing/librispeech_data/
/librispeech/tasks/preprocessing/librispeech_v2/
clearml.conf
.ipynb_checkpoints/*
