*.tsv
*.flac
*.tar.gz
*.WAV
*.wav
*.txt
!requirements.txt
tasks/preprocessing/librispeech_data/*
tasks/preprocessing/librispeech/*
tasks/preprocessing/jtubespeech_small_data/*
tasks/datasets/*
clearml.conf
.ipynb_checkpoints/*
